/*.container {
    padding: 0px 16px;
    text-align: center;
}

.page {
  overflow: scroll;
}*/

.progressbar-inner {
  transform: translate3d(-60%,0,0) !important;
  background: #4cd964 !important;
}

img.achievement {
  display: block;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 70%;
}
.col-auto{
  text-align: center;
}
#coin {
  width: 50%;
  padding-bottom: 15px;
}
#acc{
  padding-top: 10px;
}

.card-achievements {
  color: #6d6d72;
  text-align:center;
  border-radius: 0;
  margin-top: 0px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
  margin-right: 0px;
  border-radius: 0px !important;
  height: 160px;
}
