.flip {
  -webkit-perspective: 800;
perspective: 800;

 position: relative;
 text-align: center;
}
.flip .flip-card.flipped {
  -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.flip .flip-card {

  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.flip .flip-card .face {

  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
  z-index: 2;

}
.flip .flip-card .front {
  position: absolute;
   width: 100%;
  z-index: 1;

}
.flip .flip-card .back {
  -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.inner{
  margin:0px !important;
}
