
.panel {
  background: white;
}

.google-map {
  height: 100%;
  width: 100%;
}

.tab {
  width: 100%;
  height: 100%;
}

.tabs {
  width: 100%;
  height: 100%;
}

.tab-link > p {
  font-size: 12px;
  margin-top: 0px;
}

.tab-link {
  padding-top: 8px;
}

.tabbar-icon-info {
  padding-top: 11px;
}

.menu-account {
  text-align: center;
  margin: 0 10%;
}

.menu-account-logo {
  border-radius: 50%;
  margin-top: 10%;
  height: 100px;
}

.item-content > a {
  width: 100%;
  color: black;
}

.item-content-active > a {
  color: #007aff;
}

.navbar .right {
    margin-right: 5px;
}

.popup-close {
  font-size: 26px;
  text-align: right;
  margin-top: -25px;
  margin-bottom: 0px;
}

/*remove border on categories list*/
.categories-list::before {
  content:none !important;
}

.categories-list::after {
  content:none !important;
}
