.button-more-info {
  background: white;
  border: 2px solid;
  height: 28px;
  font-size: 12px;
  border-radius: 8px;
}

.map-pin-subtitle {
  font-style: italic;
  font-size: 12px;
}

.map-pin-title {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 3px;
}
.button-more-info-container {
  margin-top: 5px;
  margin-bottom: 0px;
}
