@import url("achievement.css");
@import url("index.css");
@import url("flip-animation.css");
@import url("scores.css");
@import url("map.css");
@import url("popup-green-offer.css");
@import url("info.css");

.modal-overlay {
    z-index: 10 !important;
}

.ion-navicon {
  font-size: 35px;
}

.ion-funnel {
  margin-left: 10px;
  font-size: 22px;
}

.toolbar-through .page-content {
  padding-bottom: 68px;
}

.tabbar {
  height: 67px;
}
.tabbar-icon {
  font-size: 28px;
  margin-bottom: 5px;
}

.icon-share {
  font-size: 25px;
  border: 1px solid white;
  border-radius: 50%;
  width: 29px;
  padding-left: 7px;
  color: white;
  margin-left: 14px;
}

.navbar {
  color: #6d6d72;
}

.popup {
  background-color: #f7f7f8;
}

.card {
  box-shadow: none;
  border-radius: 7px;
}

.searchbar {
  width: 170px;
  background-color: white;
}

/*color corrections*/
.color-main {
  color: #76bf24;
}
.tabbar a.active {
  color: #76bf24 !important;
}
