.popup-green-offer-button-buy {
  border: 2px solid;
  border-radius: 5px;
  position:relative
}

.popup-green-offer-logo-buy {
  width: 25px;
  margin-top: 3px;
  margin-right: -37px;
}

.popup-green-offer-buy-text {
  bottom: 6px;
  position: absolute;
  left: 28px;
}

.popup-green-offer-greenpoint-logo {
  width: 26px;
  position: relative;
  top: -23px;
  left: 23px;
}
