.page {
  overflow: scroll;
}
/*#scores {
	padding-top: 7px;
	text-align: center;
}*/
.players-icon {
	background-image: url("./../img/custom/avatar-women.png");
	height: 24px;
	width: 24px;
}
.badge {
  color: white;
  border-radius: 5px;
}
