
<div class="card card-achievements">
  <img  src="img/custom/user.png" alt="Avatar" style="height: 80px;">
    <div class="col-auto">
    <h3 style="margin-top: 0px;">Jerca Urbančič</h3>
    <p style="margin-top: -7px;">
      <span class="progressbar" data-progress="40">
          <span class="progressbar-inner color-green"></span>
      </span>
    </p>
    <p style="margin-top: -10px;">40% done</p>
  </div>
</div>
<div class="container">
   <h3 style="margin-top: 0px; text-align:center; color:#6d6d72;">
     Achievements
   </h3>
   <div class="row">
     <div class="col-auto">
     <img class="achievement" src="img/custom/Coins-01.svg" alt="Avatar" width="100%">
     </div>
    <div class="col-auto">
     <img class="achievement" src="img/custom/Coins-02.svg" alt="Avatar" width="100%">
     </div>
    <div class="col-auto">
     <img class="achievement" src="img/custom/Coins-03.svg" alt="Avatar" width="100%">
    </div>
   </div>

   <div class="row ">
    <div class="col-33">
     <img class="achievement" src="img/custom/Coins-04.svg" alt="Avatar" width="100%">
     </div>
    <div class="col-33">
    <img class="achievement" src="img/custom/Coins-05.svg" alt="Avatar" width="100%">
     </div>
     <div class="col-33"></div>
   </div>

</div>
