<div class="info-page">
  <h2 class="info-title">
    About Us:
  </h2>
    <p> BTGreen application is aimed at assisting BTC City visitors to navigate one of the biggest business, shopping, entertainment and culture in Europe. </p>
      <p>
       BTGreen will award you for any number of activities aimed at sustainability and environmentally friendly behaviour. Application enables you to easily filter all of our tenants and give you directions to a specific store you are looking for. Additionally, GREEN activities and GREEN offers are displayed on the map. These points will enable you to be environmentally friendly and find special eco offers.
       <p>We at BTC City are committed towards sustainable development with Mission: Green. Together with our tenants and YOU we wish to be green, BTGreen.
       For any questions, complaints or recommendations, please contact us at <a href="mailto:btgreen@awesome.com">btgreen@awesome.com </a> </p>
    </p>
   <footer>
      <div class="container" style="text-align: center">
              <div class="col-md-4">
                      <img src="img/custom/partners.png" style="width: 100%" alt="logo">
              </div>
              <div class="rights">
                <p>&copy; Copyright 2016 BTC d.d., BTGreen.</p>
                <p> ALl rights reserved</p>
              </div>
        </div>
  </footer>
</div>
