<div class="popup popup-green-offer" id="pop">
    <div class="content-block">
      <p id="close" class="popup-close">
        <a href="#" class="close-popup">
          <i class="icon ion-close color-main"></i>
        </a>
      </p>
      <div class="card" style="color:#6d6d72">
        <div class="card-content">
          <div class="card-content-inner">
            <div class="row">
              <div class="col-50" style="text-align:left">
                <h3 style="margin-bottom:0">Atlantis</h3>
                <p style="margin-top:0"> <i> A green water park. </i> </p>
                <p style="margin-top: 25px;margin-bottom: 0;"><b> Why we are green:</b></p>
              </div>
              <div class="col-50" style="text-align:right">
                <img src="img/custom/logo_atlantis.gif" style="width: 100px;"/>
              </div>
            </div>
            <p style="margin-top: 0px;">
              We heat the pools, saunas and our facilities using the excessive heat from a factory.
            </p>
          </div>
        </div>
      </div>

      <div class="content-block-title">Green offer</div>
      <div class="card" style="color:#6d6d72">
        <div class="card-content">
          <div class="card-content-inner">
            <div class="row" style="border-bottom: 1px solid; border-bottom: 1px solid;padding: 10px 0;">
              <div class="col-50" style="text-align: left">
                <h3 style="margin-bottom: 0; margin: 0;">Adventure world</h3>
                <span>1-day ticket.</span>
              </div>
              <div class="col-20">
                <span>10€</span>
                <br/>
                <span>
                  200 <img class="popup-green-offer-greenpoint-logo" src="img/custom/greenpoint.svg" />
                </span>
                <br/>
              </div>
              <div class="col-30" style="padding-left: 13px;">
                <div class="popup-green-offer-button-buy color-main" onclick="hall_button()">
                  <img src="img/custom/mbills_logo.png" class="popup-green-offer-logo-buy"/>
                  &nbsp;
                  <span class="popup-green-offer-buy-text">
                    Buy
                  </span>
                </div>
              </div>
            </div>
            <div class="row" style="border-bottom: 1px solid; border-bottom: 1px solid;padding: 10px 0;">
              <div class="col-50" style="text-align: left">
                <h3 style="margin-bottom: 0; margin: 0;">Thermal temple</h3>
                <span>1-day ticket.</span>
              </div>
              <div class="col-20">
                <span>12€</span>
                <br/>
                <span>
                  200 <img src="img/custom/greenpoint.svg" class="popup-green-offer-greenpoint-logo" />
                </span>
                <br/>
              </div>
              <div class="col-30" style="padding-left: 13px;">
                <div class="popup-green-offer-button-buy color-main" onclick="hall_button()">
                  <img src="img/custom/mbills_logo.png" class="popup-green-offer-logo-buy" />
                  &nbsp;
                  <span class="popup-green-offer-buy-text">
                    Buy
                  </span>
                </div>
              </div>
            </div>
            <div class="row" style="padding: 10px 0;">
              <div class="col-50" style="text-align: left">
                <h3 style="margin-bottom: 0; margin: 0;">Land of saunas</h3>
                <span>1-day ticket.</span>
              </div>
              <div class="col-20">
                <span>24€</span>
                <br/>
                <span>
                  200 <img src="img/custom/greenpoint.svg" class="popup-green-offer-greenpoint-logo" />
                </span>
                <br/>
              </div>
              <div class="col-30" style="padding-left: 13px;">
                <div class="popup-green-offer-button-buy color-main" onclick="hall_button()">
                  <img src="img/custom/mbills_logo.png" class="popup-green-offer-logo-buy"  />
                  &nbsp;
                  <span class="popup-green-offer-buy-text">
                    Buy
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
