
<div class="popup popup-green-spot" id="pop">
    <div class="content-block">
      <p id="close" class="popup-close">
        <a href="#" class="close-popup">
          <i class="icon ion-close color-main"></i>
        </a>
      </p>
    <div style="text-align: center; margin-top: 27%;">
      <p><b>Earn extra points by tapping on the leaf!</b></p>
      <div class="flip">
        <div class="flip-card">
          <div class="face front">
            <div class="well well-sm inner">
                <img src="img/custom/greenpoint.svg" style="width: 261px; margin-top: -44px;" />
            </div>
          </div>
          <div class="face back">
            <div class="well well-sm inner" style="padding-top: 50px;font-size: 60px;">
              +100
            </div>
          </div>
        </div>
      </div>
      <p style="margin-top: 50px;">
        <i>If 20% of people living within two miles of school used a bike or walked, it would save 4.8 million kilometers of driving per day. Over a year, that saved driving would prevent 356,000 tons of CO2 and 21,500 tons of other pollutants from being emitted. </i>
      </p>
    </div>
  </div>
</div>
