<div class="popup popup-select-categories" id="pop">
    <div class="content-block">
      <p id="close" class="popup-close">
        <a href="#" class="close-popup">
          <i class="icon ion-close color-main"></i>
        </a>
      </p>
      <h3 style="margin-top: 0px;">Categories</h3>
    	<div class="list-block" style="margin: 6px 0">
  		  <ul class="categories-list" style="border-radius: 16px;">
  		    <li>
  		      <label class="label-checkbox item-content">
  		        <input type="checkbox" name="my-checkbox" value="food" id="drink">
  		        <div class="item-media">
  		          <i class="icon icon-form-checkbox"></i>
  		        </div>
  		        <div class="item-inner">
  		          <div class="item-title">Food and drinks</div>
  		        </div>
  		      </label>
  		    </li>

  		    <li>
  		      <label class="label-checkbox item-content">
  		        <input type="checkbox" name="my-checkbox" value="ele" id="electric">
  		        <div class="item-media">
  		          <i class="icon icon-form-checkbox"></i>
  		        </div>
  		        <div class="item-inner">
  		          <div class="item-title">Electronics</div>
  		        </div>
  		      </label>
  		    </li>


  		    <li>
  		      <label class="label-checkbox item-content">
  		        <input type="checkbox" name="my-checkbox" value="helth" id="health">
  		        <div class="item-media">
  		          <i class="icon icon-form-checkbox"></i>
  		        </div>
  		        <div class="item-inner">
  		          <div class="item-title">Health and beauty</div>
  		        </div>
  		      </label>
  		    </li>
          <li>
  		      <label class="label-checkbox item-content">
  		        <input type="checkbox" name="my-checkbox">
  		        <div class="item-media">
  		          <i class="icon icon-form-checkbox"></i>
  		        </div>
  		        <div class="item-inner">
  		          <div class="item-title">Groceries</div>
  		        </div>
  		      </label>
  		    </li>
          <li>
  		      <label class="label-checkbox item-content">
  		        <input type="checkbox" name="my-checkbox">
  		        <div class="item-media">
  		          <i class="icon icon-form-checkbox"></i>
  		        </div>
  		        <div class="item-inner">
  		          <div class="item-title">Clothing</div>
  		        </div>
  		      </label>
  		    </li>
          <li>
  		      <label class="label-checkbox item-content">
  		        <input type="checkbox" name="my-checkbox">
  		        <div class="item-media">
  		          <i class="icon icon-form-checkbox"></i>
  		        </div>
  		        <div class="item-inner">
  		          <div class="item-title">Pets</div>
  		        </div>
  		      </label>
  		    </li>
  		  </ul>
		  </div>
    </div>
  </div>
</div>
