<div class="list-block" style="margin-top: -1px;">
<!-- Score-->
  <div class="list-group" id="scores">
    <ul>
      <li class="list-group-title" style="text-align:center; padding: 15px;">Friend high scores</li>
      <li class="item-content">
        <div class="item-media"><i class="icon players-icon"></i></div>
        <div class="item-inner">
          <div class="item-title">Klemen Krulec</div>
          <div class="item-after"><span class="badge" style="background: gold;">1812</span></div>
        </div>
      </li>
      <li class="item-content">
        <div class="item-media"><i class="icon players-icon"></i></div>
        <div class="item-inner">
          <div class="item-title">Ziga Pintar</div>
          <div class="item-after"><span class="badge" style="background: silver;">672</span></div>
        </div>
      </li>
      <li class="item-content">
        <div class="item-media"><i class="icon players-icon"></i></div>
        <div class="item-inner">
          <div class="item-title">Rok Fortuna</div>
          <div class="item-after"><span class="badge" style="white; background: silver;">503</span></div>
        </div>
      </li>
      <li class="item-content">
        <div class="item-media"><i class="icon players-icon"></i></div>
        <div class="item-inner">
          <div class="item-title">Dario Jaic</div>
          <div class="item-after"><span class="badge" style="background: #CD7F32">333</span></div>
        </div>
      </li>
      <li class="item-content">
        <div class="item-media"><i class="icon players-icon"></i></div>
        <div class="item-inner">
          <div class="item-title">Jerca Urbancic</div>
          <div class="item-after"><span class="badge" style="background: #CD7F32">266</span></div>
        </div>
      </li>
      <li class="item-content">
        <div class="item-media"><i class="icon players-icon"></i></div>
        <div class="item-inner">
          <div class="item-title">Jelena Kalaba</div>
          <div class="item-after"><span class="badge" style="#76bf24">39</span></div>
        </div>
      </li>
    </ul>
  </div>
</div>
